@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    --default-border-radius-value: 15px;
}

body {
    font-family: 'Fraunces';
    font-size: 16px;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: grid;
    align-items: center;
    padding: 1.5rem;
}

p {
    font-size: 14px;
}

picture > img {
    object-fit: fill;
    border-radius: var(--default-border-radius-value)  0px 0px var(--default-border-radius-value);
}

img {
    vertical-align: middle;
}

h1 {
    line-height: 1.1;
}

button {
    background-color: var(--Green-500);
    color: var(--White);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    padding: 14px 12px;
    border-radius: 10px;

}

button:hover {
    background-color: var(--Green-700);
}

p {
    color: var(--Grey);
    text-align: justify;
    font-family: 'Montserrat';
}

data {
    color: var(--Green-500);
}

data > small {
    text-decoration: line-through;
    color: var(--Grey);
    font-family: 'Monserrat';
}

data:first-child{
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'header main';
    background-color: var(--White);
    max-width: 720px;
    border-radius: var(--default-border-radius-value);
}

.perfume {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.prices {
    display: flex;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {

    picture > img {
        border-radius: var(--default-border-radius-value) var(--default-border-radius-value) 0px 0px;
    }

    body {
        max-width: 375px;
        padding: 20px 0px;
    }

    main {
        row-gap: 25px;;
    }

    .container {
        max-width: 320px;
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'main';
    }
}
